@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    @apply selection:bg-teal-500 selection:text-white
}
body {
    @apply overflow-x-hidden duration-150 scroll-smooth bg-neutral-100 dark:bg-neutral-900
}

h1 {
    @apply  font-bold text-neutral-900 dark:text-neutral-100
}

.button1 {
    background-color: #14b8a6;
    color: white;
    padding: 10px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 18px;
    display: inline-block;
}
.button1:hover {
    background-color: #0d9488;
}
.button2 {
    background-color: #fb7185;
    color: white;
    padding: 10px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 18px;
    display: inline-block;
}

.button2:hover {
    background-color: #f43f5e;
}

.instructor-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: tranneutralX(-50%) tranneutralY(-30%) ;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(2, 52, 117, 0.15);
}

.instructor-card p {
    font-size: 20px;
    font-weight: 400;
    color: black;
    margin-bottom: 10px;
}

.instructor-card p span {
    color: #14b8a6;
    font-weight: bold;
}
.categories {
    margin:10px;
    padding:20px;
}

.experience {
    position: absolute;
    top: 50%;   
    left: 50%;
    transform: tranneutral(-50%, -50%);
    padding: 10px;
    background-color: #FFD25D;
    color: #333931;
    width: 200px;
    height: 200px;
    border: 5px solid #FFFFFF;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    z-index: 2;
}
.cardOne{
    background: url('/home/col1.png');
}
.cardTwo{
    background: url('/home/col2.png');
}
.btn{
padding: 5px;
background: #000000;
border-radius: 5px;
color: #fff;
}

:root {
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}